body{
    position: relative;
}

header{
    border-bottom: 2px;
    border-color: #000000;
    height: 60px;
    display: block;
}
#header_left{
    float: left;
    display: block;
}
#header_position{
    float: right;
    padding-left: 12px;
    padding-top: 12px;
    margin: 0px;
}
#header_right{
    float: right;
    padding-top: 12px;
    padding-right: 12px;
}

#result{
    display: block;
    background-color: #F0E0FF;
    width: 1024px;
    margin: auto;
}

.iframe_item{
    border: 0px;
    width: 1024px;
    height:160px;
    margin: 0px;
    padding: 0px;
}

.one_item{
    position: relative;
    width: 750px;
    height: 100px;
    margin: 12px;
    border-width: 0px;
    border-color: #444444;
    border-style: solid;
}
.one_item_name{
    font-size:18px;
}
.one_item_status{
    float: right;
}
.one_item_commet_stars{
}
.one_item_commet_stars_star{
    margin:1px;
}
.one_item_price{
    color: #FF9999;
    font-size: 22px;
}

#logo{
    width: 250px;
}
